# Final data model evaluation

In [70]:
import pandas as pd

In [71]:
final_df = pd.read_csv('../../data/processed/heatwave_warning_system.csv')

In [72]:
final_df.head()

,Country Name,Heatwaves Warning Systems (WMO data),Heatwaves Warning Systems other sources,publication_count,nested_data
0,Afghanistan,Unknown,Unknown,0,"[{'id': 64, 'authors': 'Not found', 'title': '..."
1,Albania,Unknown,No,1,"[{'id': 73, 'authors': nan, 'title': 'Global b..."
2,Algeria,Yes,No,1,"[{'id': 70, 'authors': nan, 'title': 'Global b..."
3,Andorra,Unknown,Unknown,0,"[{'id': 137, 'authors': 'Not found', 'title': ..."
4,Angola,No,Unknown,0,"[{'id': 343, 'authors': 'Not found', 'title': ..."

##

In [83]:
len(final_df)

193

In [73]:
len(final_df[(final_df['Heatwaves Warning Systems (WMO data)'].isin(['No', 'Unknown'])) & (final_df['Heatwaves Warning Systems other sources'] == 'Yes')])

18

In [74]:
len(final_df[(final_df['Heatwaves Warning Systems (WMO data)'] == 'No') & (final_df['Heatwaves Warning Systems other sources'] == 'Yes')])

3

In [75]:
final_df[(final_df['Heatwaves Warning Systems (WMO data)'] == 'No') & (final_df['Heatwaves Warning Systems other sources'] == 'Yes')]

,Country Name,Heatwaves Warning Systems (WMO data),Heatwaves Warning Systems other sources,publication_count,nested_data
122,Nepal,No,Yes,2,"[{'id': 275, 'authors': nan, 'title': 'Global ..."
134,Panama,No,Yes,1,"[{'id': 39, 'authors': 'Not found', 'title': '..."
138,Philippines,No,Yes,1,"[{'id': 382, 'authors': 'Not found', 'title': ..."

In [76]:
len(final_df[(final_df['Heatwaves Warning Systems (WMO data)'] == 'Unknown') & (final_df['Heatwaves Warning Systems other sources'] == 'Yes')])

15

In [77]:
final_df[(final_df['Heatwaves Warning Systems (WMO data)'] == 'Unknown') & (final_df['Heatwaves Warning Systems other sources'] == 'Yes')]

,Country Name,Heatwaves Warning Systems (WMO data),Heatwaves Warning Systems other sources,publication_count,nested_data
15,Belarus,Unknown,Yes,1,"[{'id': 295, 'authors': 'Not found', 'title': ..."
43,Cuba,Unknown,Yes,2,"[{'id': 233, 'authors': 'Not found', 'title': ..."
67,Georgia,Unknown,Yes,13,"[{'id': 57, 'authors': 'Joshua G Smith, Christ..."
79,Iceland,Unknown,Yes,1,"[{'id': 236, 'authors': 'Not found', 'title': ..."
81,Indonesia,Unknown,Yes,6,"[{'id': 220, 'authors': nan, 'title': 'Global ..."
82,Iran (Islamic Republic of),Unknown,Yes,7,"[{'id': 340, 'authors': 'Hamidreza Aghababaeia..."
85,Israel,Unknown,Yes,6,"[{'id': 232, 'authors': 'Amnon Cochavi, Madi A..."
101,Lithuania,Unknown,Yes,1,"[{'id': 230, 'authors': 'Not found', 'title': ..."
102,Luxembourg,Unknown,Yes,5,"[{'id': 155, 'authors': 'Not found', 'title': ..."
125,New Zealand,Unknown,Yes,6,"[{'id': 202, 'authors': nan, 'title': 'Global ..."
132,Oman,Unknown,Yes,16,"[{'id': 325, 'authors': nan, 'title': 'Global ..."
133,Pakistan,Unknown,Yes,7,"[{'id': 23, 'authors': nan, 'title': 'Global b..."
140,Portugal,Unknown,Yes,16,"[{'id': 260, 'authors': nan, 'title': 'Global ..."
145,Russian Federation,Unknown,Yes,2,"[{'id': 338, 'authors': 'Not found', 'title': ..."
178,Turkey,Unknown,Yes,1,"[{'id': 321, 'authors': 'Not found', 'title': ..."

### checking dublicates in the database

In [78]:
database = pd.read_csv('../../data/processed/prediction_database.csv')
database.head()

,country,title,authors,abstract,link,predicted_label,source,id
0,Papua New Guinea,Not found,Not found,Not found,Not found,2,pubmed,1
1,Singapore,Global burden of chronic respiratory diseases ...,NaN,Updated data on chronic respiratory diseases (...,https://pubmed.ncbi.nlm.nih.gov/37229504/,0,pubmed,2
2,Singapore,Characteristics of Prehospital Heat Illness Ca...,"Gayathri Devi Nadarajan, Gv Ramana Rao, Keshav...",Global warming and more intense heat wave peri...,https://pubmed.ncbi.nlm.nih.gov/34238399/,0,pubmed,3
3,Sao Tome and Principe,Not found,Not found,Not found,Not found,2,pubmed,4
4,Czech Republic,Not found,Not found,Not found,Not found,2,pubmed,5

In [79]:
unique_items = database.drop_duplicates(subset=['country', 'title','link'])
count_unique_items = unique_items.shape[0]
count_unique_items

479

In [80]:
len(database)

479

In [81]:
duplicates = database[database.duplicated(subset=['country', 'title','link'], keep=False)]
duplicates

Empty DataFrame
Columns: [country, title, authors, abstract, link, predicted_label, source, id]
Index: []

In [82]:
duplicates[duplicates['country'] == 'Oman'].authors.to_list()

[]