Let's read files in the main folder

In [47]:
import pandas as pd

In [48]:
data = pd.read_csv('../../data/predictions/sorted_df_with_countries_unknown.csv')
data.head()

,Unnamed: 0,Author(s),Title,Publication Date,Source,Page Numbers,Link,Category,Abstract,Countries,...,heat wave,heat action plan,heat health,heat early warning system,heat-health action plan,heat-health warning systems,extreme heat management,heat wave management,public health heat wave alert,Predicted_Labels
0,600,NaN,NaN,NaN,NaN,NaN,https://toolkit.climate.gov/case-studies/devel...,Government,NaN,American Samoa,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,596,NaN,NaN,NaN,NaN,NaN,https://www.vox.com/22538401/texas-heat-wave-w...,Government,NaN,Antarctica,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,132,"…, Ahmedabad Heat and Climate Study Group - In...",Development and implementation of South Asia's...,"…, Ahmedabad Heat and Climate Study Group - In...","…, Ahmedabad Heat and Climate Study Group - In...",[HTML] mdpi.com,https://www.mdpi.com/1660-4601/11/4/3473,Academic Journal,"… effort include a Heat Action Plan (HAP), and...",Bangladesh,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1
3,261,"K Knowlton, SP Kulkarni, GS Azhar… - Internati...",Development and implementation of South Asia's...,"K Knowlton, SP Kulkarni, GS Azhar… - Internati...","K Knowlton, SP Kulkarni, GS Azhar… - Internati...",[HTML] mdpi.com,https://www.mdpi.com/1660-4601/11/4/3473,Academic Journal,… heat action plan for Ahmedabad. Its specific...,Bangladesh,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1
4,202,"A Casanueva, A Burgstall, S Kotlarski… - Inter...",Overview of existing heat-health warning syste...,"A Casanueva, A Burgstall, S Kotlarski… - Inter...","A Casanueva, A Burgstall, S Kotlarski… - Inter...",[PDF] mdpi.com,https://www.mdpi.com/1660-4601/16/15/2657,Academic Journal,"… , describes the heat early warning and heat ...",Belarus,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In order to make two dataset simillar we need the columns below 

country            123

title                1

authors              1

abstract             1

link                 1

predicted_label      1

---------- in Felista's final folder ----

Countries
Title
Author(s)	
Abstract
Link
Predicted_Labels

In [49]:
df_extracted = data.loc[:, ['Countries', 'Title', 'Author(s)','Abstract','Link', 'Predicted_Labels' ]]

df_extracted.head()

,Countries,Title,Author(s),Abstract,Link,Predicted_Labels
0,American Samoa,NaN,NaN,NaN,https://toolkit.climate.gov/case-studies/devel...,0
1,Antarctica,NaN,NaN,NaN,https://www.vox.com/22538401/texas-heat-wave-w...,0
2,Bangladesh,Development and implementation of South Asia's...,"…, Ahmedabad Heat and Climate Study Group - In...","… effort include a Heat Action Plan (HAP), and...",https://www.mdpi.com/1660-4601/11/4/3473,1
3,Bangladesh,Development and implementation of South Asia's...,"K Knowlton, SP Kulkarni, GS Azhar… - Internati...",… heat action plan for Ahmedabad. Its specific...,https://www.mdpi.com/1660-4601/11/4/3473,1
4,Belarus,Overview of existing heat-health warning syste...,"A Casanueva, A Burgstall, S Kotlarski… - Inter...","… , describes the heat early warning and heat ...",https://www.mdpi.com/1660-4601/16/15/2657,1

Now lets match the column names

In [50]:
df_extracted.rename(columns={
    'Countries': 'country',
    'Title': 'title',
    'Author(s)': 'authors',
    'Abstract': 'abstract',
    'Link': 'link',  
    'Predicted_Labels': 'predicted_label'
}, inplace=True)

In [51]:
df_pubmed = pd.read_csv('../../data/predictions/pubmed_predicted.csv')
df_pubmed.head()

,country,title,authors,abstract,link,predicted_label
0,Papua New Guinea,Not found,Not found,Not found,Not found,No prediction
1,Singapore,Global burden of chronic respiratory diseases ...,NaN,Updated data on chronic respiratory diseases (...,https://pubmed.ncbi.nlm.nih.gov/37229504/,0
2,Singapore,Characteristics of Prehospital Heat Illness Ca...,"Gayathri Devi Nadarajan, Gv Ramana Rao, Keshav...",Global warming and more intense heat wave peri...,https://pubmed.ncbi.nlm.nih.gov/34238399/,0
3,Sao Tome and Principe,Not found,Not found,Not found,Not found,No prediction
4,Czechia,Not found,Not found,Not found,Not found,No prediction

In [52]:
# Adjustment 1
df_pubmed.loc[df_pubmed['country'] == 'Venezuela, Bolivarian Republic', 'country'] = 'Venezuela (Bolivarian Republic of)'

# Adjustment 2
df_pubmed.loc[df_pubmed['country'] == 'Viet Nam', 'country'] = 'Vietnam'

# Adjustment 4
df_pubmed.loc[df_pubmed['country'] == 'Turkiye', 'country'] = 'Turkey'

# Adjustment 5
df_pubmed.loc[df_pubmed['country'] == 'Libya (State of)', 'country'] = 'Libya'

# # Adjustment 6
# df_pubmed.loc[df_pubmed['country'] == "Lao People's Democratic Republic", 'country'] = "Lao People's Democratic Republic".strip()

# Adjustment 7: Removing special characters or extra spaces
df_pubmed.loc[df_pubmed['country'] == 'Guinea-Bissau', 'country'] = 'Guinea Bissau'

# Adjustment 8
df_pubmed.loc[df_pubmed['country'] == 'Gambia (The)', 'country'] = 'Gambia'

# Adjustment 9
df_pubmed.loc[df_pubmed['country'] == 'Czechia', 'country'] = 'Czech Republic'

In [53]:
# List of values to drop
values_to_drop = [
    "British Caribbean Territories - Anguilla",
    "British Caribbean Territories - British Virgin Islands",
    "British Caribbean Territories - Cayman Islands",
    "British Caribbean Territories - Montserrat",
    "British Caribbean Territories - Turks and Caicos Islands"
]

# Filter the DataFrame to keep only rows where the 'Country' column doesn't have any of the values in the list
df_pubmed = df_pubmed[~df_pubmed['country'].isin(values_to_drop)]

In [54]:
# Define a mapping of names to be replaced
name_mapping = {
    'Iran': 'Iran (Islamic Republic of)',
    'Russia': 'Russian Federation',
    'American Samoa': 'Samoa',
    'Laos': "Lao People's Democratic Republic",
    'South Korea': 'Republic of Korea',
    'Tanzania': 'United Republic of Tanzania',
    'Turkey': 'Türkiye',
    'Bermuda': 'United Kingdom of Great Britain and Northern Ireland',
   'United Kingdom': 'United Kingdom of Great Britain and Northern Ireland',
    'Hong Kong': 'Hong Kong, China',
    'Bolivia': 'Bolivia (Plurinational State of)',
    'Tanzania': 'United Republic of Tanzania',
    'Greenland': 'Denmark',
    'Puerto Rico': 'United States of America',
}

# Replace names in df_extracted
df_extracted['country'] = df_extracted['country'].replace(name_mapping)

In [55]:
# List of values to drop
values_to_drop = [
    'Antarctica',
    'Taiwan'
    
]

# Filter the DataFrame to keep only rows where the 'Country' column doesn't have any of the values in the list
df_extracted = df_extracted[~df_extracted['country'].isin(values_to_drop)]

In [56]:
# Extract unique countries from both DataFrames
unique_countries_extracted = pd.DataFrame(df_extracted['country'].unique(), columns=['country'])
unique_countries_pubmed = pd.DataFrame(df_pubmed['country'].unique(), columns=['country'])

# Merge based on unique country values
merged = unique_countries_extracted.merge(unique_countries_pubmed, on='country', how='outer', indicator=True)

# Filter rows where data is only in unique_countries_extracted or only in unique_countries_pubmed
differences = merged[merged['_merge'] != 'both']

print(differences['country'])

28          Papua New Guinea
29                 Singapore
30     Sao Tome and Principe
31            Czech Republic
32                  Djibouti
               ...
188                  Estonia
189                 Bulgaria
190               Kyrgyzstan
191                    Libya
192                  Bahrain
Name: country, Length: 165, dtype: object

In [57]:
len(df_extracted['country'].unique())

28

"Puerto Rico" is a territory of the United States located in the Caribbean. It's an unincorporated U.S. territory, which means that it is part the United 
States

Antarctica is not a country 

Greenland is an autonomous territory within the Kingdom of Denmark.

In [58]:
df_extracted['country'].unique()

array(['Samoa', 'Bangladesh', 'Belarus',
       'United Kingdom of Great Britain and Northern Ireland', 'Cuba',
       'Georgia', 'Denmark', 'Hong Kong, China', 'Iceland', 'Indonesia',
       'Iran (Islamic Republic of)', 'Israel', 'Jordan',
       "Lao People's Democratic Republic", 'Lithuania', 'Luxembourg',
       'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama',
       'Philippines', 'Portugal', 'United States of America',
       'Russian Federation', 'Republic of Korea',
       'United Republic of Tanzania', 'Türkiye'], dtype=object)

In [59]:
len(differences['country'])

165

In [60]:
# differences.to_csv('../../data/intermediate/countries_not_in_pubmed.csv', index=False)

In [61]:
len(df_pubmed['country'].unique())

193

In [62]:
df_pubmed["source"] = "pubmed"
df_extracted["source"] = "google_scholar"

In [63]:
combined_df = pd.concat([df_pubmed, df_extracted], ignore_index=True)

In [64]:
len(combined_df)

526

In [65]:
combined_df['id'] = range(1, len(combined_df) + 1)
combined_df.head()

,country,title,authors,abstract,link,predicted_label,source,id
0,Papua New Guinea,Not found,Not found,Not found,Not found,No prediction,pubmed,1
1,Singapore,Global burden of chronic respiratory diseases ...,NaN,Updated data on chronic respiratory diseases (...,https://pubmed.ncbi.nlm.nih.gov/37229504/,0,pubmed,2
2,Singapore,Characteristics of Prehospital Heat Illness Ca...,"Gayathri Devi Nadarajan, Gv Ramana Rao, Keshav...",Global warming and more intense heat wave peri...,https://pubmed.ncbi.nlm.nih.gov/34238399/,0,pubmed,3
3,Sao Tome and Principe,Not found,Not found,Not found,Not found,No prediction,pubmed,4
4,Czech Republic,Not found,Not found,Not found,Not found,No prediction,pubmed,5

In [66]:
combined_df['predicted_label'].replace('No prediction', 2, inplace=True)

In [67]:
combined_df.columns

Index(['country', 'title', 'authors', 'abstract', 'link', 'predicted_label',
       'source', 'id'],
      dtype='object')

In [68]:
# def aggregate_data(group):
#     if 1 in group['predicted_label'].values:
#         overall = 1
#     elif all(val == 2 for val in group['predicted_label'].values):
#         overall = 2
#     else:
#         overall = 0

#     return {
#         'publication_count': len(group),
#         'nested_data': group[['id', 'authors', 'title', 'predicted_label', 'abstract', 'link']].to_dict('records'),
#         'overall_prediction': overall
#     }

# summary = combined_df.groupby('country').apply(aggregate_data).reset_index()
# summary = pd.DataFrame(list(summary[0]), index=summary.index)
# summary['country'] = combined_df['country'].unique()

In [69]:
def count_publications(labels):
    return sum(1 for label in labels if label != 2)

def count_publications(labels):
    return sum(1 for label in labels if label != 2)

def aggregate_data(group):
    if 1 in group['predicted_label'].values:
        overall = 1
    elif all(val == 2 for val in group['predicted_label'].values):
        overall = 2
    else:
        overall = 0

    publication_count = count_publications(group['predicted_label'])

    return {
        'country': group['country'].iloc[0],  # Get the country name from the first row of the group
        'publication_count': publication_count,
        'nested_data': group[['id', 'authors', 'title', 'predicted_label', 'abstract', 'link', 'source']].to_dict('records'),
        'overall_prediction': overall
    }

summary = combined_df.groupby('country').apply(aggregate_data).reset_index(drop=True)
summary = pd.DataFrame(list(summary))

In [70]:
summary.columns

Index(['country', 'publication_count', 'nested_data', 'overall_prediction'], dtype='object')

In [71]:
# Assuming you want to reorder the columns of the 'summary' DataFrame
ordered_columns = ['country', 'overall_prediction', 'publication_count', 'nested_data']
summary = summary[ordered_columns]

In [72]:
summary = summary.sort_values(by='country')

how to read the csv nested data part

In [73]:
# import pandas as pd
# import ast

# # Read the CSV
# df = pd.read_csv('path_to_file.csv')

# # Convert the string representation back to a list
# df['nested_data'] = df['nested_data'].apply(ast.literal_eval)

# # Display a sample row
# sample_row = df.sample(1).iloc[0]
# print(sample_row)

# # Inspect the nested data
# print(sample_row['nested_data'])

In [74]:
summary["Heatwaves Warning Systems other sources"] = summary['overall_prediction'].map({0: 'No', 1: 'Yes', 2: 'Unknown'})

In [75]:
summary.rename(columns={'country':'Country Name'}, inplace=True)

In [76]:
df_wmo = pd.read_csv('../../data/intermediate/wmoWebDataClean.csv')
df_wmo.head()

  Country Name Heatwaves Warning Systems (WMO data)
0  Afghanistan                              Unknown
1      Albania                              Unknown
2      Algeria                                  Yes
3      Andorra                              Unknown
4       Angola                                   No

In [77]:
summary.head()

,Country Name,overall_prediction,publication_count,nested_data,Heatwaves Warning Systems other sources
0,Afghanistan,2,0,"[{'id': 64, 'authors': 'Not found', 'title': '...",Unknown
1,Albania,0,1,"[{'id': 73, 'authors': nan, 'title': 'Global b...",No
2,Algeria,0,1,"[{'id': 70, 'authors': nan, 'title': 'Global b...",No
3,Andorra,2,0,"[{'id': 137, 'authors': 'Not found', 'title': ...",Unknown
4,Angola,2,0,"[{'id': 343, 'authors': 'Not found', 'title': ...",Unknown

In [78]:
# List of values to drop
values_to_drop = [
    "British Caribbean Territories - Anguilla",
    "British Caribbean Territories - British Virgin Islands",
    "British Caribbean Territories - Cayman Islands",
    "British Caribbean Territories - Montserrat",
    "British Caribbean Territories - Turks and Caicos Islands"
]

# Filter the DataFrame to keep only rows where the 'Country' column doesn't have any of the values in the list
df_wmo = df_wmo[~df_wmo['Country Name'].isin(values_to_drop)]

In [79]:
# df_extracted['country'] = df_extracted['country'].replace(name_mapping)

In [80]:
summary['Country Name'] = summary['Country Name'].replace('Türkiye', 'Turkey')

In [81]:
summary['Country Name'] = summary['Country Name'].replace('Venezuela, Bolivarian Republic of', 'Venezuela (Bolivarian Republic of)')

In [82]:
# Extract unique countries from both DataFrames
unique_countries_extracted_2 = pd.DataFrame(summary['Country Name'].unique(), columns=['Country Name'])
unique_countries_wmo = pd.DataFrame(df_wmo['Country Name'].unique(), columns=['Country Name'])

# Merge based on unique country values
merged2 = unique_countries_extracted_2.merge(unique_countries_wmo, on='Country Name', how='outer', indicator=True)

# Filter rows where data is only in unique_countries_extracted or only in unique_countries_pubmed
differences2 = merged[merged2['_merge'] != 'both']
# # 
# print(differences2['Country Name'])

In [83]:
data_row = pd.read_csv('../../data/raw/WMOTemplate.csv')

In [84]:
len(data_row)

193

In [85]:
merged_df = df_wmo.merge(summary, on='Country Name', suffixes=('', '_drop'))
# merged_df = merged_df.filter(regex='^(?!.*_drop)')
len(merged_df)

193

In [86]:

# merged_df.to_json('../../data/processed/heatwave_warning_system.json', orient='records', lines=True)

In [87]:
# merged_df.to_csv('../../data/processed/heatwave_warning_system.csv', index=False)

In [88]:
# test_df = pd.read_csv('../../data/processed/heatwave_warning_system.csv')
# test_df.head()

In [89]:
combined_df.to_csv('../../data/processed/prediction_database.csv', index=False)